<ion-tabs class="navigation__tabs">

  <ion-tab-bar slot="bottom" class="navigation__tabs__bar">
    <ion-tab-button [tab]="routeSegments.home" class="navigation__tabs__button">
      <ion-icon [name]="this.router.url === '/' + routeSegments.home ? 'home' : 'home-outline'"></ion-icon>
      <ion-label>Home</ion-label>

    </ion-tab-button>

    <ion-tab-button [tab]="routeSegments.planTravel" class="navigation__tabs__button">
      <ion-icon [name]="this.router.url === '/' + routeSegments.planTravel ? 'walk' : 'walk-outline'"></ion-icon>
      <ion-label>Plan travel</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="routeSegments.profile" class="navigation__tabs__button">
      <ion-icon [name]="this.router.url === '/' + routeSegments.profile ? 'person' : 'person-outline'"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
