<app-header [headerTitle]="routeSegments.people"></app-header>
<ion-content [fullscreen]="false">
    <ion-segment [(ngModel)]="selectedSection" (ionChange)="onSegmentClicked($event)">
        <ion-segment-button *ngFor="let section of sections | keyvalue: originalOrder" value="{{section.value}}"
                            id="{{section.value}}">
            <ion-label>{{section.value | titlecase}}</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="this.selectedSection">
        <section *ngSwitchCase="sections.me">
            <app-user-details
                    [user]="profile"
                    [isProfileOwner]="true"
                    (openSettingsModal)="openSettingsModal()"></app-user-details>
            <app-friends-list [friends]="friends$ | async"></app-friends-list>
            <app-time-line [stories]="userStories() | async"></app-time-line>
        </section>

        <section *ngSwitchCase="sections.friends">
            <app-most-active-users [mostActiveUsers]="mostActiveUsers() | async"></app-most-active-users>
            <app-time-line [stories]="friendsStories() | async"></app-time-line>
<!--            <app-friends></app-friends>-->
        </section>
    </div>
</ion-content>
