<app-header [headerTitle]="routeSegments.people"></app-header>
<ion-content [fullscreen]="false">
    <ion-segment [(ngModel)]="section" (ionChange)="onSegmentClicked($event)">
        <ion-segment-button *ngFor="let section of sections | keyvalue: originalOrder" value="{{section.value}}">
            <ion-label>{{section.value | titlecase}}</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="this.section">
        <section *ngSwitchCase="sections.me">
            <app-user-details [userId]="user.userId"></app-user-details>
        </section>

        <section *ngSwitchCase="sections.friends">
            <app-friends [friendsIds]="user?.friendsIds"></app-friends>
        </section>
    </div>
</ion-content>
