
<ion-button (click)="dismissModal()"> Close</ion-button>

<form>
<!--  // TODO Create form for editing profile-->
</form>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Your relations (5)</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="relations__container">
    <ion-thumbnail class="relations__thumbnail">
      <ion-img src="/assets/soldier.jpeg"></ion-img>
    </ion-thumbnail>
    <ion-thumbnail class="relations__thumbnail">
      <ion-img src="/assets/mountain.jpg"></ion-img>
    </ion-thumbnail>
    <ion-thumbnail class="relations__thumbnail">
      <ion-img src="/assets/anulka.png"></ion-img>
    </ion-thumbnail>
    <ion-thumbnail class="relations__thumbnail">
      <ion-img src="/assets/soldier.jpeg"></ion-img>
    </ion-thumbnail>
    <ion-thumbnail class="relations__thumbnail">
      <ion-img src="/assets/soldier.jpeg"></ion-img>
    </ion-thumbnail>
  </ion-card-content>
</ion-card>