
.home {

  &__content {
    --background : var(--mt-background-url);
  }

  &__location {
    --background    : rgba(255, 255, 255, 0.7);
    --border-radius : 30px;
    top             : 5%;
    left            : 50%;
    transform       : translateX(-50%);
    margin-bottom   : var(--mt-increment-unit);

    &-select-label {
      margin : 0 auto;
    }
  }

  &__tiles-nav {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-evenly;
    position        : absolute;
    bottom          : 10%;
  }
}

.tiles-nav {
  &__button {
    background-color : rgba(255, 255, 255, 0.8);
    width            : calc(var(--mt-increment-unit) * 8);
    height           : calc(var(--mt-increment-unit) * 8);
    margin           : calc(var(--mt-increment-unit) / 2);
    display          : flex;
    border-radius    : 10px;
    flex-direction   : column !important;
    justify-content  : center;
    align-items      : center;
    color            : var(--ion-color-success);

    &-label {
      color  : black;
      margin : calc(var(--mt-increment-unit) / 2);
    }

    &-icon {
      margin    : calc(var(--mt-increment-unit) / 2);
      font-size : calc(var(--mt-increment-unit) * 3);
    }
  }
}
