<!--<app-header [headerTitle]="this.region"></app-header>-->
<ion-content [fullscreen]="true" class="home__content" id="home">
    <ion-img src="/assets/soldier.jpeg"></ion-img>


    <ion-item class="home__location">
        <ion-select
                [value]="this.city"
                interface="action-sheet"
                class="home__location-select-label"
                (ionChange)="onSelectChanged($event)">
            <ion-select-option value="choose_location">Choose location</ion-select-option>

            <ion-select-option value="zakopane">Poland, Zakopane</ion-select-option>
            <ion-select-option value="warsaw">Poland, Warsaw</ion-select-option>
            <ion-select-option value="zurich">Switzerland, Zurich</ion-select-option>
        </ion-select>
    </ion-item>

    <div class="home__top-nav">
        <button
                class="top-nav__button"
                (click)="navigateToExternalUrl(externalUrls.bookingHotels)"
                >
            <ion-icon name="bed" class="top-nav__button-icon"></ion-icon>
            <ion-label class="top-nav__button-label">Hotel</ion-label>
        </button>

        <button
                class="top-nav__button"
                [routerLink]="['/', routeSegments.community]">
            <ion-icon name="medal" class="top-nav__button-icon"></ion-icon>
            <ion-label class="top-nav__button-label">Community</ion-label>
        </button>

        <button
                class="top-nav__button"
                (click)="navigateToExternalUrl(externalUrls.tourGuide)">
            <ion-icon name="walk" class="top-nav__button-icon"></ion-icon>
            <ion-label class="top-nav__button-label">Tour guide</ion-label>
        </button>

        <button
                class="top-nav__button"
                (click)="navigateToExternalUrl(externalUrls.restaurants)">
            <ion-icon name="restaurant" class="top-nav__button-icon"></ion-icon>
            <ion-label class="top-nav__button-label">Restaurants</ion-label>
        </button>
    </div>

    <section class="ion-padding-top">
        <app-weather-widget
                [city]="this.city">
        </app-weather-widget>
    </section>

</ion-content>
