<app-header [headerTitle]="routeSegments.planTravel"></app-header>

<ion-content [fullscreen]="true">
    <ion-grid class="ion-text-center ion-no-padding">
        <ion-row class="ion-margin-vertical plan-travel__row" *ngFor="let level of levels">
            <div class="plan-travel__cover display-flex">
                <p class="plan-travel__cover-text font-size-xxl">{{level | uppercase}}</p>
            </div>
            <ion-img src="/assets/levels/{{level}}.png"></ion-img>
        </ion-row>
    </ion-grid>
</ion-content>
