.weather-widget {
  &__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
  }
  &__item {
    width: 20%;
    border-radius: 0 0 5px;
    &__img {
      height: 48px;
    }
  }
  &__label {
    padding: 0;
    margin: 0;
    height: 100px;
  }
}

.item-active {
  background-color: var(--ion-color-success);
}
