.weather-widget {
  &__list {
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
  }

  &__item {
    min-width: calc(var(--mt-increment-unit) * 5);
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(255,255, 255,0.7);

    &__img {
      height: calc(var(--mt-increment-unit) * 3);
    }
  }
}
