<ion-list class="weather-widget__list" *ngIf="isWeatherDataLoaded">
    <div *ngFor="let day of fiveDaysWeather;index as i;" class="weather-widget__item ion-text-center"
         [class.item-active]="i === 0">
        <p class="weather-widget__item__date ion-no-margin">{{i == 0 ? 'Today' : day.date}}</p>
        <ion-img src="assets/weather-icons/{{day.icon}}.svg" class="weather-widget__item__img"></ion-img>
        <p class="ion-no-margin"><ion-icon name="thermometer-outline"></ion-icon> {{day.temp.min| number:'1.0-0'}} / {{ day.temp.max | number:'1.0-0'}}&deg;C</p>
        <p><ion-icon name="rainy-outline"></ion-icon>   {{day.rain}} mm</p>
    </div>
</ion-list>


