.navigation-tabs {
  &__button {
    --color-focused  : var(--ion-color-success);
    --color-selected : var(--ion-color-success);
  }

  &__bar {
    --border   : none;
    box-shadow : -15px 10px 20px 5px var(--ion-color-medium-tint);
  }
}