.profile-picture {
  &__thumbnail {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid var(--ion-color-success);
    padding: calc(var(--mt-increment-unit) / 8);
  }
  &__img {
    border-radius: 50%;
  }
}