<app-accordion *ngIf="friendsIds?.length" title="Friends">
        <ion-list lines="none">
            <ion-item
                    *ngFor="let friend of friends$ | async"
                    class="ion-margin-vertical"
                    [routerLink]="['/', routeSegments.user]"
                    [queryParams]="getQueryParams(queryParamNames.userId, friend.userId)">
                <app-profile-picture-thumbnail [imgPath]="friend.profilePicture"
                                               class="ion-margin-end"></app-profile-picture-thumbnail>

                <span>{{friend.name}}</span>
            </ion-item>
        </ion-list>
</app-accordion>