<app-header [headerTitle]="routeSegments.travelPlanner"
            [defaultHref]="['/', routeSegments.app, routeSegments.planTravel]">
</app-header>

<ion-content>

    <section
            id="search"
            class="travel-planner__search-section ion-no-margin">

        <ion-list [ngClass]="isExpanded ? 'show' : 'hide'">
            <app-accordion title="Filters" [fullWidth]="true" style="width: 100%;" #filtersAccordion>
            <ion-item>
                <ion-searchbar placeholder="Starting point"></ion-searchbar>
            </ion-item>
<!--            // TODO NGIF - round trip - remove input-->
<!--            // TODO add stop point-->
            <ion-item>
                <ion-searchbar placeholder="Destination point"></ion-searchbar>
            </ion-item>

            <ion-item *ngFor="let filter of testSearchFilters"  class="travel-planner__item">
                <ion-label>
                    {{filter.filterName}}
                </ion-label>
                <ion-select [value]="filter.filterValues[0].value">
                    <ion-select-option *ngFor="let item of filter.filterValues"
                                       [value]="item.value">
                        {{item.displayValue}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
          <ion-item >

              <ion-label>Users rating</ion-label>

              <ionic5-star-rating
                      activeColor = "#2dd36f"
                      defaultColor = "#2dd36f"
                      (ratingChanged)="logRatingChange($event)"
              >
              </ionic5-star-rating>

          </ion-item>
            <ion-button fill="solid"
                        expand="block"
                        color="success"
                        id="apply_filters"
            (click)="applyFilters()">
                Apply filters
            </ion-button>
</app-accordion>
        </ion-list>
        <ion-button
                type="button"
                id="search-button"
                fill="solid"
                color="success"
                (click)="isExpanded = !isExpanded"
                class="travel-planner__search-button ion-no-padding ion-no-margin font-size-xxl">
            <ion-icon [name]="isExpanded ? 'arrow-undo-outline' : 'search-circle-outline'"></ion-icon>
        </ion-button>
    </section>
</ion-content>
