<ion-card *ngFor="let story of stories">
    <ion-card-header>
        <ion-card-subtitle>{{story.userName}} | {{story.timestamp | timeAgo}}
            <ion-icon
                    [name]="checkIfLiked(story) ? 'heart' : 'heart-outline'"
                    color="danger"
                    class="latest-activity__icon font-size-xxl"
                    (click)="checkIfLiked(story) ? removeLike(story.storyId) : addLike(story.storyId)"
                    id="like-button"></ion-icon>
        </ion-card-subtitle>
        <ion-card-title>{{story.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img [src]="story.picture"></ion-img>
        {{story.description}}
    </ion-card-content>
</ion-card>
