<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Anna Kin | 22min ago <ion-icon name="heart" color="danger" class="latest-activity__icon"></ion-icon></ion-card-subtitle>
    <ion-card-title>Hala Gasienicowa</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-img src="/assets/anulka.png"></ion-img>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Cezary Cezary | 1 hour ago <ion-icon name="heart-outline" color="danger" class="latest-activity__icon"></ion-icon></ion-card-subtitle>
    <ion-card-title>Polana Rusinowa</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-img src="/assets/soldier.jpeg"></ion-img>
    Nothing better than mountains...
  </ion-card-content>
</ion-card>