<ion-card>
    <ion-card-header>
        <ion-card-subtitle>Most active users this month</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ul class="most-active-users__ul ion-no-margin ion-no-padding font-size-xs ion-justify-content-between">
<!--// TODO ngFor-->
            <li class="ion-text-center">
                <ion-img
                        class="most-active-users__img"
                        src="/assets/users-pictures/2.png"></ion-img>
                <p class="font-size-xs">Radziu</p>
                <p class="font-size-xs">123km</p>
            </li>
            <li class="ion-text-center">
                <ion-img
                        class="most-active-users__img"
                        src="/assets/users-pictures/3.png"></ion-img>
                <p class="font-size-xs"> Mudzina</p>
                <p class="font-size-xs">44km</p>

            </li>
            <li class="ion-text-center">
                <ion-img
                        class="most-active-users__img"
                        src="/assets/users-pictures/1.png"></ion-img>
                <p class="font-size-xs"> Anulka</p>
                <p class="font-size-xs">324km</p>
            </li>
            <li class="ion-text-center">
                <ion-img
                        class="most-active-users__img"
                        src="/assets/users-pictures/4.png"></ion-img>
                <p class="font-size-xs"> Nalesnik</p>
                <p class="font-size-xs">24km</p>

            </li>
        </ul>
    </ion-card-content>
</ion-card>