<ion-card>
    <ion-card-header>
        <ion-card-subtitle>Most active users this month</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ul class="most-active-users__ul">
<!--// TODO ngFor-->
            <li class="ion-text-center">
                <ion-img
                        class="most-active-users__img"
                        src="/assets/users-pictures/2.png"></ion-img>
                <p class="most-active-users__p">Radziu</p>
                <p class="most-active-users__p">123km</p>
            </li>
            <li class="ion-text-center">
                <ion-img
                        class="most-active-users__img"
                        src="/assets/users-pictures/3.png"></ion-img>
                <p class="most-active-users__p"> Mudzina</p>
                <p class="most-active-users__p">44km</p>

            </li>
            <li class="ion-text-center">
                <ion-img
                        class="most-active-users__img"
                        src="/assets/users-pictures/1.png"></ion-img>
                <p class="most-active-users__p"> Anulka</p>
                <p class="most-active-users__p">324km</p>
            </li>
            <li class="ion-text-center">
                <ion-img
                        class="most-active-users__img"
                        src="/assets/users-pictures/4.png"></ion-img>
                <p class="most-active-users__p"> Nalesnik</p>
                <p class="most-active-users__p">24km</p>

            </li>
        </ul>
    </ion-card-content>
</ion-card>