<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()" id="close-button">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-list *ngIf="packingList">
        <ion-item *ngFor="let item of packingList;let i = index" (click)="item.packed = !item.packed">
            <ion-text [color]="item.packed ? 'success' : 'danger'" class="display-flex">
                <ion-icon [name]="item.packed ? 'checkmark-circle-outline' : 'close-circle-outline'"></ion-icon>
            </ion-text>
            <ion-label class="ion-margin-horizontal">
                <p [ngClass]="{'strikethrough' : item.packed}">{{item.title}}</p>
            </ion-label>
            <ion-button fill="clear" color="danger" (click)="deleteItemFromList(i)" id="delete-item-button">
            delete
            </ion-button>
        </ion-item>
    </ion-list>

    <div class="ion-padding" *ngIf="editMode">

        <ion-item>
            <ion-label position="floating">Type your item</ion-label>
            <ion-input
                    clearInput="true"
                    maxlength="140"
                    minlength="2"
                    name="newItemValue"
                    [(ngModel)]="this.newItemValue"
            ></ion-input>

        </ion-item>

        <ion-button class="ion-margin-vertical"
                    expand="block"
                    color="success"
                    [disabled]="!this.newItemValue"
                    id="add-item-button"
                    (click)="addItemToList()">Add item
        </ion-button>

    </div>

</ion-content>

<ion-footer>

    <ion-button
            fill="outline"
            expand="block"
            color="success"
            (click)="this.editMode = !this.editMode">Add new items
    </ion-button>
    <ion-button
            color="success"
            expand="block"
            id="save-button"
            (click)="savePackingList()">Save
    </ion-button>
</ion-footer>


<!--// TODO create separate component for profile settings ?-->
<ng-template *ngIf="userSettings">


    <form>
        <!--  // TODO Create form for editing profile-->
    </form>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Your relations (5)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="relations__container">
            <ion-thumbnail class="relations__thumbnail">
                <ion-img src="/assets/soldier.jpeg"></ion-img>
            </ion-thumbnail>
            <ion-thumbnail class="relations__thumbnail">
                <ion-img src="/assets/mountain.jpg"></ion-img>
            </ion-thumbnail>
            <ion-thumbnail class="relations__thumbnail">
                <ion-img src="/assets/anulka.png"></ion-img>
            </ion-thumbnail>
            <ion-thumbnail class="relations__thumbnail">
                <ion-img src="/assets/soldier.jpeg"></ion-img>
            </ion-thumbnail>
            <ion-thumbnail class="relations__thumbnail">
                <ion-img src="/assets/soldier.jpeg"></ion-img>
            </ion-thumbnail>
        </ion-card-content>
    </ion-card>
</ng-template>