<app-header
        [headerTitle]="title"
        [displayMode]="componentType.modal"
></app-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of packingList; let i = index" (click)="toggleItem(item)">
            <ion-text [color]="item.packed ? 'success' : 'danger'" class="display-flex">
                <ion-icon [name]="item.packed ? 'checkmark-circle-outline' : 'close-circle-outline'"></ion-icon>
            </ion-text>
            <ion-label class="ion-margin-horizontal">
                <p [ngClass]="{'strikethrough' : item.packed}">{{item.title}}</p>
            </ion-label>
            <ion-button fill="clear" color="danger" (click)="deleteItemFromList(i)" id="delete-item-button">
            delete
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-button
            fill="outline"
            expand="block"
            color="success"
            id="add-item-button"
            (click)="openAddModal()">Add new items
    </ion-button>
    <ion-button
            color="success"
            expand="block"
            id="save-button"
            (click)="savePackingList()">Save
    </ion-button>
</ion-footer>
